.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  text-align: center;
  flex: 1;
  font-size: 28px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
}
